mixin button(text,classe)
	button(type="button" class="general-button",class=classe)=text

mixin cards(icon, titulo, parrafo)
	.content__cards
		.icon--cards
			i(class=icon class="flaticon") 
		h4=titulo
		p= parrafo 

mixin stadistic-card(icon,h4text,text,iconClass)
	.stadistic-card(class=iconClass)
		i(class=icon)
		h4=h4text 
		p=text